APP_DATA_DIR="./.local-data/app"
UPLOAD_ROOT="./.local-data/uploads"
TEMP_UPLOAD_DIR="./.local-data/temp"

MAX_FILE_SIZE_BYTES="52428800"
MAX_FILES_PER_BATCH="20"

SESSION_DAYS="30"
PAIRING_CODE_TTL_SECONDS="300"