# Dependencies
node_modules/

# Output
.output/
.vercel/
.netlify/
.wrangler/
/.svelte-kit
/build

# Local app data
.local-data/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Files
.vscode/*
!.vscode/extensions.json

# Extras
**/*.local.md
*.local.md